#LoginStyle {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100vh;
  grid-template-areas: "left right";
}

#LoginStyle .right {
  grid-area: right;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  flex-direction: column;
}
#LoginStyle .left {
  grid-area: left;
  background: #2778f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
#LoginStyle .right #form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;
}
#LoginStyle .right #form label {
  font-size: 15px;
  margin-bottom: -5px;
}
#LoginStyle .right #form input {
  padding: 15px;
  padding-left: 0;
  border: 0px;
  border-bottom: 1px solid #2778f6;
  outline: 0;
  margin-bottom: 20px;
}
#LoginStyle .right #form button {
  margin-top: 20px;
  padding: 10px;
  background: #2778f6;
  color: white;
  font-size: 15px;
  width: 80px;
  height: 40px;
  transition: 0.3s;
}

#LoginStyle .right #form button:hover {
  transition: 0.3s;
  border: 1px solid #2778f6;
  background: white;
  color: #2778f6;
}
.right #title {
  width: 80%;
  font-size: 40px;
  color: #2778f6;
}

.box-title {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #2778f6;
  font-size: 10px;
  position: relative;
  margin-right: 50px;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

#LoginStyle .left .ImgameLogo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid white;
}
